<h4>Internal server error - refreshing the page might help you.</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight=bold">Note: If you are seeing his then Angular is probably not to blame.</p>
  <ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect the network tab</li>
    <li>Check the failing requests</li>
    <li>Examine the request  URL - make sure it is correct</li>
    <li>Reproduce the error in Postman - if we see the same response, then the issue is not with the Angular.</li>
  </ol>
  <p>Following is the stack trace - this is where your investigaion should start!</p>
  <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>
