<div class="row mb-4">
  <div class="btn-group" name="container">
    <button class="btn btn-primary" btnRadio="Unread" [(ngModel)]="container" (click)="loadMessages()">
      <i class="fa fa-envelope"></i> Unread
    </button>
    <button class="btn btn-primary" btnRadio="Inbox" [(ngModel)]="container" (click)="loadMessages()">
      <i class="fa fa-envelope-open"></i> Inbox
    </button>
    <button class="btn btn-primary" btnRadio="Outbox" [(ngModel)]="container" (click)="loadMessages()">
      <i class="fa fa-paper-plane"></i> Outbox
    </button>
  </div>
</div>

  <div class="row" *ngIf="messages?.length === 0">
    <h3> No messages</h3>
  </div>

  <div class="row" *ngIf="messages?.length !== 0">
    <table class="table table-hover" style="cursor: pointer">
      <tr>
        <th style="widows: 14%">Messages</th>
        <th style="widows: 20%">From / To</th>
        <th style="widows: 20%">Sent / Received</th>
        <th style="widows: 20%">Messages</th>
      </tr>
      <tr [hidden]="loading" *ngFor="let message of messages" routerLink="{{container === 'Outbox' ? '/members/' + message.recipientUserName : '/members/' + message.senderUserName}}"
          [queryParams]="{tab: 3}">
        <td>{{message.content}}</td>
        <td>
          <div *ngIf="container === 'Outbox'">
            <img class="img-circle rounded-circle mr-2"
                 src="{{message.recipientPhotoUrl || './assets/user.png'}}"
                 alt="{{message.recipientUserName}}" />
            <strong>{{message.recipientUserName | titlecase}}</strong>
          </div>
          <div *ngIf="container !== 'Outbox'">
            <img class="img-circle rounder-circle mr-2"
                 src="{{message.senderPhotoUrl || './assets/user.png'}}"
                 alt="{{message.senderUserName}}" />
            <strong>{{message.senderUserName | titlecase}}</strong>
          </div>
        </td>
        <td>{{message.messageSent | timeago}}</td>
        <td>
          <button (click)="$event.stopPropagation()" class="btn btn-danger" (click)="deleteMessage(message.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>

<div class="d-flex justify-content-center" *ngIf="pagination && !loading">
  <pagination [boundaryLinks]="true" [totalItems]="pagination?.totalItems ?? 0"
              [itemsPerPage]="pagination?.itemsPerPage ?? 0"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>
